<section id="portfolio" class="{{ section.background_style }}">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      {% for proj in section.projects %}

        <a class="portfolio-box" href="{{ proj.url }}">
          <img class="img-fluid" src="assets/img/portfolio/thumbnails/{{ proj.icon }}" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              {{ proj.title }}
            </div>
            <div class="project-name">
              {{ proj.text }}
            </div>
          </div>
        </a>

      {% endfor %}
    </div>
  </div>
</section>
